@use '/styles/lib/var';
.footer{
    min-height: 40vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
    padding: 50px 0;
    border: 1px black solid;
    .icons_container{
        height: 40px;
        width: 180px;
        margin: 0 auto;
        overflow: visible;
        display: flex;
        column-gap: 30px;
    }
    .copyright{
        color: var.$primary_color;
        min-height: 15vh;
        text-align: center;
        padding-top: 5vh;
    }
}