html,
body {
  padding: 0;
  margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

// @font-face{
//   font-family: WorkThin;
//   src: url("../public/fonts/Work_Sans/static/WorkSans-Thin.ttf");
// }

// @font-face{
//   font-family: WorkLight;
//   src: url("../public/fonts/Work_Sans/static/WorkSans-Light.ttf");
// }

// @font-face{
//   font-family: WorkRegular;
//   src: url("../public/fonts/Work_Sans/static/WorkSans-Regular.ttf");
// }