@use '/styles/lib/var.scss';

.intro_section{
    height: 100vh;
    padding-top: var.$navbar_h;
    // background-color: var.$primary_color;
}

.portfolio_section{
    margin: auto;
    background-color: var.$lightended_accent_color;
    padding: 5vh 0;
    .portfolio_title_container{
        padding: 15vh 10vw;
        .portfolio_title{
            margin: 1rem;
            text-align: center;
            color: var.$primary_color;
            font-size: var.$lg_font;
            font-weight: bold;
        }
        .portfolio_subtitle{
            margin: 1rem;
            text-align: center;
            color: var.$accent_color;
            font-size: var.$sm_font;
        }
    }
    
    .portfolio_grid{
        
        display: grid;
        grid-template-columns: 33% 33% 33%;
        row-gap: 1vh;
        column-gap: 1vw;
        padding: 0 5vw;
        .portfolio_grid_item{
            width: 350px;
            background-color: white;
            
            
            // border-radius: 20px;
            // overflow: hidden;
            .portfolio_image_container{
                position:relative;
                &:hover{
                    .portfolio_grid_item_hover{
                        opacity: 1;
                        transition: 1.2s;
                    }
                }
                .portfolio_grid_item_hover{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    position:absolute;
                    top:0;
                    left:0;
                    background-color: var.$primary_color_opacity;
                    opacity: 0;
                    transition: 1s;
                    .portfolio_grid_item_hover_title{
                        color: white;
                        text-align: center;
                        font-size: var.$md_font;
                    }
                }
            }
            .portfolio_image_title_container{
                width:350px;
                // height:250px;
                background-color: white;
                .portfolio_image_title{
                    text-align: center;
                    font-size: var.$xm_font;
                    color: var.$primary_color;
                    font-weight: bold;
                }
                .portfolio_image_subtitle{
                    text-align: center;
                    font-size: var.$xs_font;
                    color: var.$lightended_primary_color;
                }
            }
        }
        
    }
}